<p id="notice"><%= notice %></p>

<h1>Pagina principal</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <h1>Pagina principal</h1>
  </tbody>
</table>

<br>

<%= link_to 'New Empresa', new_empresa_path %>
